body {
  background-color: lightsteelblue;

}
h4 {
  display: block;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 0.3em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.tooltipa {
  position:relative;
  display: inline-block;
}

.tooltipa .tooltiptexta {
  visibility: hidden;
  width: 500px;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding:1px 0;
  font-size: 15px;

  position:absolute;
  z-index:1;
  top:10%;
  left:150%;
  margin-left: -60px;
}
.tooltipa:hover .tooltiptexta {
  visibility:visible;

}

.tooltipb {
  position:relative;
  display: inline-block;
}

.tooltipb .tooltiptextb {
  visibility: hidden;
  width: 500px;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding:1px 0;
  font-size: 15px;

  position:absolute;
  z-index:1;
  top:10%;
  right:107%;
  margin-left: -60px;
}
.tooltipb:hover .tooltiptextb {
  visibility:visible;

}

div.a {
  text-align:center;
  color: black;
  margin-left:0px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
