h1 {
  font-family: "Aclonica",fantasy;
  color: #e60000;
  font-size:50px
  }

h2 {
  font-family: "Aclonica",fantasy;
  color: #ff704d;
  font-size:30px
}

h3 {
  font-family: "Aclonica",fantasy;
  color: white;
}

a:hover{
  color: #ffff4d;
  font-size:25px;
}

a {
  color: white;
}
